@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #5e2129;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 98vh;
}
header{
    background-color: #004d7f;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #080606;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header > h1{
    color: #5e2129;
    font-weight: 800;
    border: 1px dotted #a3a1a1; /*ajuda na visualização do espaço ocupado pelo elemento h1*/

    flex: 0 0 150px; /*Grow, Shrink, Basis*/
}
header > nav{
    border: 1px dotted whitesmoke;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    background-color: #5e2129;
    color: #e5d7d7;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    text-align: center; /*para ficar centralizado no responsivo*/
}
header > nav > a:hover{
    background-color: #e5d7d7;
    color: #5e2129;
    font-weight: 600;
    transition: background-color 0.7s;
}
main{
    background-color: #f5fffa;
    margin: 10px; /*coloca margem entre o body e o elemento main*/
    padding: 10px; /*coloca espaçamento interno do elemento main*/
    border-radius: 8px;
    box-shadow: 0px 0px 5px #080606;
}

@media screen and (max-width: 510px){
    header > h1{
       
    }
}
